# These are the files I have excluded from my commits

# Ignore MyQualtricsDownload folder
MyQualtricsDownload

# Ignore configuration file
config.py

# Ignore compiled files
config.pyc
__pycache__

# Ignore gspread credentials file
credentials.json


